%section.pickup-container
  %h2.pickup-head ピックアップカテゴリー
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => "/jp/category/1/"}
        レディース 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m41231946232/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ネックレス！！", "data-src" => "https://static.mercdn.net/thumb/photos/m41231946232_1.jpg?1552568444", :src => "https://static.mercdn.net/thumb/photos/m41231946232_1.jpg?1552568444"}/
          .items-box-body
            %h3.items-box-name.font-2 ネックレス！！
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,600
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m18709145204/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "adidas アディダス ジャージ 160", "data-src" => "https://static.mercdn.net/thumb/photos/m18709145204_1.jpg?1552790915", :src => "https://static.mercdn.net/thumb/photos/m18709145204_1.jpg?1552790915"}/
          .items-box-body
            %h3.items-box-name.font-2 adidas アディダス ジャージ 160
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,000
              .items-box-likes.font-2
                %i.icon-like-border
                %span 2
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m33751498135/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "ラルフローレンジーンズ", "data-src" => "https://static.mercdn.net/thumb/photos/m33751498135_1.jpg?1552995315", :src => "https://static.mercdn.net/thumb/photos/m33751498135_1.jpg?1552995315"}/
          .items-box-body
            %h3.items-box-name.font-2 ラルフローレンジーンズ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 3,000
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m92253157763/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "バックポケット◯△ワイドデニム", "data-src" => "https://static.mercdn.net/thumb/photos/m92253157763_1.jpg?1543727556", :src => "https://static.mercdn.net/thumb/photos/m92253157763_1.jpg?1543727556"}/
          .items-box-body
            %h3.items-box-name.font-2 バックポケット◯△ワイドデニム
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 6,300
              .items-box-likes.font-2
                %i.icon-like-border
                %span 1
              %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/1/"} すべての商品を見る
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => "/jp/category/2/"}
        メンズ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m29953547297/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "お値下げ✨✨ユニクロ デニム", "data-src" => "https://static.mercdn.net/thumb/photos/m29953547297_1.jpg?1548550882", :src => "https://static.mercdn.net/thumb/photos/m29953547297_1.jpg?1548550882"}/
          .items-box-body
            %h3.items-box-name.font-2 お値下げ✨✨ユニクロ デニム
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,300
              .items-box-likes.font-2
                %i.icon-like-border
                %span 1
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m47352927898/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "フェイスマスク 防寒 対策", "data-src" => "https://static.mercdn.net/thumb/photos/m47352927898_1.jpg?1552470791", :src => "https://static.mercdn.net/thumb/photos/m47352927898_1.jpg?1552470791"}/
          .items-box-body
            %h3.items-box-name.font-2 フェイスマスク 防寒 対策
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 900
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m57755992770/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "シルバー925製 新品 スカルリング ドクロ 指輪 20号 送料無料", "data-src" => "https://static.mercdn.net/thumb/photos/m57755992770_1.jpg?1552995315", :src => "https://static.mercdn.net/thumb/photos/m57755992770_1.jpg?1552995315"}/
          .items-box-body
            %h3.items-box-name.font-2 シルバー925製 新品 スカルリング ドクロ 指輪 20号 送料無料
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,999
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m83203367739/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ラッセルアスレチック Tシャツ Lサイズ ポケT WEB限定商品", "data-src" => "https://static.mercdn.net/thumb/photos/m83203367739_1.jpg?1550280568", :src => "https://static.mercdn.net/thumb/photos/m83203367739_1.jpg?1550280568"}/
          .items-box-body
            %h3.items-box-name.font-2 ラッセルアスレチック Tシャツ Lサイズ ポケT WEB限定商品
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 2,000
              .items-box-likes.font-2
                %i.icon-like-border
                %span 2
              %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/2/"} すべての商品を見る
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => "/jp/category/3/"}
        ベビー・キッズ 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m14710961869/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "☆*°男の子 ズボン 120", "data-src" => "https://static.mercdn.net/thumb/photos/m14710961869_1.jpg?1552995315", :src => "https://static.mercdn.net/thumb/photos/m14710961869_1.jpg?1552995315"}/
          .items-box-body
            %h3.items-box-name.font-2 ☆*°男の子 ズボン 120
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 455
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m77275647924/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "無印2点セット☆ボーダー ロンT 80 ", "data-src" => "https://static.mercdn.net/thumb/photos/m77275647924_1.jpg?1552995315", :src => "https://static.mercdn.net/thumb/photos/m77275647924_1.jpg?1552995315"}/
          .items-box-body
            %h3.items-box-name.font-2 無印2点セット☆ボーダー ロンT 80
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 800
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m97163684230/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "ワンピース 80 babygap", "data-src" => "https://static.mercdn.net/thumb/photos/m97163684230_1.jpg?1552995314", :src => "https://static.mercdn.net/thumb/photos/m97163684230_1.jpg?1552995314"}/
          .items-box-body
            %h3.items-box-name.font-2 ワンピース 80 babygap
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 399
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m65004077474/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "EARTHMAGIC トートバッグ ブランケット", "data-src" => "https://static.mercdn.net/thumb/photos/m65004077474_1.jpg?1551587519", :src => "https://static.mercdn.net/thumb/photos/m65004077474_1.jpg?1551587519"}/
          .items-box-body
            %h3.items-box-name.font-2 EARTHMAGIC トートバッグ ブランケット
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,888
              .items-box-likes.font-2
                %i.icon-like-border
                %span 3
              %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/3/"} すべての商品を見る
  %section.items-box-container.clearfix
    %h3.text-center
      %a{:href => "/jp/category/6/"}
        コスメ・香水・美容 新着アイテム
    .items-box-content.clearfix
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m48640331766/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "姿勢美人ウエスト矯正タンクトップ ベージュ", "data-src" => "https://static.mercdn.net/thumb/photos/m48640331766_1.jpg?1552995313", :src => "https://static.mercdn.net/thumb/photos/m48640331766_1.jpg?1552995313"}/
          .items-box-body
            %h3.items-box-name.font-2 姿勢美人ウエスト矯正タンクトップ ベージュ
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 899
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m38187955427/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "新品 未開封 業務用 ハイドロキノン 旭研", "data-src" => "https://static.mercdn.net/thumb/photos/m38187955427_1.jpg?1550100916", :src => "https://static.mercdn.net/thumb/photos/m38187955427_1.jpg?1550100916"}/
          .items-box-body
            %h3.items-box-name.font-2 新品 未開封 業務用 ハイドロキノン 旭研
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,740
              .items-box-likes.font-2
                %i.icon-like-border
                %span 2
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m96587053513/"}
          %figure.items-box-photo
            %img.is-higher-height.lazyloaded{:alt => "入浴剤セット", "data-src" => "https://static.mercdn.net/thumb/photos/m96587053513_1.jpg?1552995311", :src => "https://static.mercdn.net/thumb/photos/m96587053513_1.jpg?1552995311"}/
          .items-box-body
            %h3.items-box-name.font-2 入浴剤セット
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 888
              %p.item-box-tax (税込)
      %section.items-box
        %a{:href => "https://item.mercari.com/jp/m20658791656/"}
          %figure.items-box-photo
            %img.lazyloaded{:alt => "ファイヤースリム2袋2ヶ月分★燃焼(a-リポ酸.Lカルニチン.コエンザイムQ10", "data-src" => "https://static.mercdn.net/thumb/photos/m20658791656_1.jpg?1552995311", :src => "https://static.mercdn.net/thumb/photos/m20658791656_1.jpg?1552995311"}/
          .items-box-body
            %h3.items-box-name.font-2 ファイヤースリム2袋2ヶ月分★燃焼(a-リポ酸.Lカルニチン.コエンザイムQ10
            .items-box-num.clearfix
              .items-box-price.font-5 ¥ 1,250
              %p.item-box-tax (税込)
    .view-all
      %a{:href => "/jp/category/6/"} すべての商品を見る
