.top-carousel
  #owl-example.owl-carousel.owl-theme
    .new-life
      = image_tag "top-carousel.newlife.png", :alt => "メルカリでかしこくおトクに新生活をはじめよう！"
    .main
      = image_tag "top-carousel.main.png", :alt => "スマホでかんたん フリマアプリ"
    .bokuranoheisei
      = image_tag "top-carousel.bokuranoheisei.png", :alt => "僕らの平成30年史 往年の名作はメルカリで。"
  .owl-prev
  .owl-next
