.item__container
  =render 'shared/header-logo'
%section.pickup-container
  %main.item__container__main
    %section.item__container__main__box
      %h2.item__box__header 支払い方法
      = render 'shared/credit'

  = render 'shared/footer-logo'
