.pickup-container {
  background-color:$light-gray;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;

  .pickup-head {
    font-size: 28px;
    font-weight: 800;
    color:$black;
    padding-top: 40px;
  }
  h3{
    letter-spacing: 2px;
    margin: 25px;
    font-size: 22px;
    font-weight: 800;
    a {
      text-decoration: none;
      color: $light-blue;
    }
  }
  .item-boxs{
    ul{
      margin:0 auto;
      width: 932px;
      .item-box{
        display: inline-block;
        margin-left: 15px;
        height:330px;
        width:213px;
        background-color: white;
        text-align: left;
        a {
          text-decoration: none;
          display:block;
          color: #333333;
          img {
          // position: absolute;
          width:213px;
          height:220px;
          object-fit: cover;
        }
        .item-box__body {
          width:181px;
          height: 78px;
          padding: 16px;
          .item-box__text {
            height: 3em;
            line-height: 1.5;
            overflow: hidden;
            h4 {
              font-size: 16px;
              font-weight: 400;
              word-wrap: break-word;
            }
          }
          .item-box__num{
            &__price {
              font-size:15px;
              font-weight: bold;
              .nice {
                float:right;
                .icon-like-border {
                  font-size:16px;
                  color: #ccc;
                }
                span {
                  font-size:13px;
                }
              }
            }
            &__price-tax {
              font-size: 10px;
              height:10px;
            }
          }
        }
      }
    }
  }
  }
  .view-all {
    clear:both;
    padding: 20px 0 30px;
    margin:0 auto;
    width: 932px;
    text-align: right;
    a {
      font-size: 14px;
      text-decoration: none;
      color: #0099E8;
    }
  }
}
