.credit__container {
  float: left;
  width: calc(100vw - 742px);
  height: 100%;
  background-color: #fff;
  height: 330px;

  .chapter__header {
    font-weight: bold;
    padding: 8px 24px;
    font-size: 24px;
  }

    &-index {
      padding: 64px;
      border-top: 1px solid #f5f5f5;
       &-content {
        font-size: 16px;
        text-align: left;
        font-weight: bold;
        max-width: 320px;
        margin: 0 auto;
       }
    }
}

.add__card {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
    &-btn {
      max-width: 320px;
      margin: 0 auto;
      &-default {
        background-color: #ea352d;
        color: #fff;
        text-decoration: none;
        .fa-credit-card {
          margin-right: 16px;
        }
      }
    }
}

.payment__box-content {
  display: block;
  color: #0099e8;
  font-size: 14px;
  text-align: right;
  text-decoration: none;
  margin: 40px 0 0;
}

// カード登録済み
section.user__card {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
}

.user__card-btn {

  display: block;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 16px;
  max-width: 320px;
  text-align: left;
}

.user__card-btn{
  line-height: 20px;
}

form {
  max-width: 450px;
}

button {
  float: right;
  position: relative;
  padding: 4px 6px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ea352d;
}
