.single-container__main {
  &-content {
    width: 700px;
    margin: 0 auto;
    background: $white;
  }
  .item-container {
    &__header {
      padding: 32px 16px;
      font-size: 22px;
      line-height: 1.5;
      text-align: center;
      font-weight: 600;
    }
    &__form {
      border-top: 1px solid $light-gray;
      &-upload {
        width: 620px;
        padding: 40px;
        &__header {
          font-size: 16px;
          font-weight: 600;
          +p {
            margin: 8px 0 0;
            line-height: 1.5;
          }
        }
        &__dropbox {
          @include clearfix();
          display: block;
          width: 620px;
          margin: 16px auto 0;
          &__content {
            display: inline;
            &-item {
              display: inline;
              float: left;
            }
          }
        }
      }
    }
  }
}
