.top-carousel {
  position: relative;

  img {
    width: 1440px;
    height: 390px;
  }

  .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 25%;
    right: 25%;
  }

  .owl-prev {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color:  transparent transparent #FFFFFF #FFFFFF;
    transform: rotate(45deg);
    position: absolute;
    top: 195px;
    left: 80px;
    z-index: 100;
  }
  .owl-next {
    width: 20px;
    height: 20px;
    border: 3px solid;
    border-color: #FFFFFF #FFFFFF transparent transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 195px;
    right: 80px;
    z-index: 100;
  }
}
