.item__container
  =render 'shared/header-logo'
%section.pickup-container
  %main.item__container__main
    %section.item__container__main__box
      %h2.item__box__header 購入を確定しますか？
      %section.item__box__inner
        .item__box__list
          %h3.item-image
            = image_tag item.item_images[0].image, alt: "",class: "item-box__image"
          %P.item-name
            Fodera Imperial 5st/34" '17 Used
          %div
            .price-box
              %p.item-price
                ¥ 972,000
              %p.item-fee 送料込み
            .item-point
              ポイントはありません
            %ul.item-price-table
              .buy-price-call 支払い金額
              .buy-price-pay
                ¥ 972,000
              %p.has-error-text 配送先と支払い方法の入力を完了してください。
              %label.payjp__btn
                購入する
                = form_tag(action: :pay, method: :post) do
                  %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_7d6421811945dc71ee2edf87"}

      %section.user__info
        .buy-container-inner
          %h3.delivery 配送先
          %p.adress-user-info
            〒123-1234
            %br
            東京都東京市東京区東京町東京567-7
            %br
            ユーザーネーム
          %a.buy-user-info-fix{href: "/"}変更する >
      %section.user__footer
        .buy-footer-inner
          %h3.payment 支払い方法
          ******************1234
          %p.buy-user-info-text 02/21
          = image_tag 'https://www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?613028459'
          %a.buy-user-info-fix{href: "/"}変更する >


  = render 'shared/footer-logo'
