.main_header
  =render partial: 'shared/header'
.main_header_carousel
  =render partial: 'shared/top-carousel'
%section.pickup-container
  =render partial: 'shared/body'
.main_footer
  =render partial: 'shared/footer'
  =render partial: 'shared/sell-button'
